code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.checkbox {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.form-check-input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.form-check-label {
    font-size: 18px;
    cursor: pointer;
}
.VictoryContainer {
    font-size: 10px;
}
.logo {
    width: 58px;
}
.container {
    max-width: 95%;
}
.personal-card {
    height: 50px !important;
}
.radio {
    cursor: pointer;
}
